.about {
    width: 80%;
    margin: 0 auto;
    display: block;
    height: 90vh;
}

.landing {
    height: 100%;
}

.main-landing-container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.main-landing-container > .projects-container {
    margin-top: 10%;
}

.intro1 {
    margin-top: 100px;
    text-align: left;
    font-size: 7.5vmin;
    line-height: 8.5vmin;
}

.intro2 {
    margin-top: 4%;
    text-align: left;
    font-size: 7.5vmin;
    padding-bottom: 2%;
    line-height: 8.5vmin;
}

.intro-sub {
    color: rgb(83, 83, 83);
    margin-top: 3%;
    text-align: left;
    font-size: 4.5vmin;
    line-height: 4.5vmin;
}

.intro-email {
    color: rgb(64, 168, 233);
    text-decoration: none;
}

.intro-email:hover {
    color: blue;
    transition: .4s ease;
    -webkit-transition: .4s ease;
}

.down-arrow {
    position: absolute;
    bottom: 50px;
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: pulse 2s infinite;
    background-color: rgba(255, 255, 255, 0);
}

.arrow-holder {
    display: block;
    position: absolute;
    bottom: -30px;
    height: 60px;
    width: 60px;
    margin: 0;
    margin-right: 100%;
    margin-bottom: 60px;
    left: 0; right: 0;
}

.arrow-holder:hover .down-arrow {
    border-color: rgb(64, 168, 233);
    transition: .4s ease;
    -webkit-transition: .4s ease;
    background-color: rgba(255, 255, 255, 0);
}

.landing {
    position: relative;
}

.about-me-text {
    color: rgb(46, 46, 46);
    font-size: 1.6em;
    line-height: 36px;
    margin-bottom: 135px;
}

.about-holder {
    padding: 20px;
    margin-bottom: -70px;
}

@media only screen and (max-width: 716px) {
    .arrow-holder {
        display: none;
    }
    .intro1 {
        margin-top: 100px;
        font-size: 7vmin;
        line-height: 7vmin;
    }
    .intro2 {
        font-size: 7vmin;
        line-height: 7vmin;
    }
}

@media only screen and (max-width: 575px) {
    .about {
        height: 85vmax;
    }
     .intro1 {
        margin-top: 100px;
        font-size: 7.4vmin;
        line-height: 7.4vmin;
    }
    .intro2 {
        font-size: 7.4vmin;
        line-height: 7.4vmin;
    }
    .intro-sub {
        font-size: 4.8vmax;
        line-height: 5.5vmax;
    } 
}

/* @media only screen and (max-width: 575px) {
    .about {
        height: 85vmax;
    }
    .intro1 {
        margin-top: 100px;
        font-size: 6vmin;
        line-height: 6vmin;
    }
    .intro2 {
        font-size: 6vmin;
        line-height: 6vmin;
    }
    .intro-sub {
        font-size: 4.8vmin;
        line-height: 5.5vmin;
    }
} */

@media only screen and (max-width: 450px) {
    .about {
        height: 85vmax;
    }
    .intro1 {
        margin-top: 100px;
        font-size: 8vmin;
        line-height: 8vmin;
    }
    .intro2 {
        font-size: 8vmin;
        line-height: 8vmin;
    }
    .intro-sub {
        font-size: 4.7vmax;
        line-height: 5vmax;
    }
}

@media only screen and (max-width: 370px) {
    .about {
        height: 85vmax;
    }
    .intro1 {
        margin-top: 100px;
        font-size: 5.5vmax;
        line-height: 5.5vmax;
    }
    .intro2 {
        font-size: 5.5vmax;
        line-height: 5.5vmax;
    }
    .intro-sub {
        margin-top: 15px;
        font-size: 7.5vmin;
        line-height: 7.5vmin;
    }
}

@keyframes pulse {
    0% {
        bottom: 10px;
    }
    25% {
        bottom: 0px;
    }
    50% {
        bottom: 10px;
    }
    65% {
        bottom: 10px
    }
    100% {
        bottom: 10px;
    }
}

@media only screen and (max-width: 1100px) {

    @keyframes pulse {
        0% {
            bottom: 20px;
        }
        25% {
            bottom: 10px;
        }
        50% {
            bottom: 20px;
        }
        65% {
            bottom: 20px
        }
        100% {
            bottom: 20px;
        }
    }
}

@media only screen and (max-width: 440px) {

}

@media only screen and (max-width: 575px) {

    .arrow-holder {
        bottom: -50px
    }

    @keyframes pulse {
        0% {
            bottom: 10px;
        }
        25% {
            bottom: 0px;
        }
        50% {
            bottom: 10px;
        }
        65% {
            bottom: 0px
        }
        100% {
            bottom: 10px;
        }
    }
}

@media only screen and (max-width: 450px) {

}

@media only screen and (max-width: 375px) {

}