.footer-holder {
    position: absolute;
    top: 100%;
    height: 360%;
    width: 100%;
    z-index: -1;
}

.footer-shift {
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(29, 29, 29);
    color: black;
}

.footer-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

.github-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.linkedIn-icon {
    width: 36px;
    height: 30px;
    margin-left: 20px;
    margin-right: 30px;
}

.footer-email {
    display: inline-block;
    position: absolute;
    margin-top: 6px;
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(68, 183, 255);
}

.footer-email:hover {
    color: white;
    transition: .4s ease;
    -webkit-transition: .4s ease;
}

@media only screen and (max-width: 1300px) {
    .footer-holder {
        height: 350%;
    }
}

@media only screen and (max-width: 1250px) {
    .footer-holder {
        height: 340%;
    }
}

@media only screen and (max-width: 1150px) {
    .footer-holder {
        height: 330%;
    }
}

@media only screen and (max-width: 1050px) {
    .footer-holder {
        height: 310%;
    }
}

@media only screen and (max-width: 750px) {
    .footer-content {
        text-align: left;
        margin-left: 25%;
        width: 50%;
    }
    .footer-holder {
        height: 330%;
    }
}

@media only screen and (max-width: 500px) {
    .footer-content {
        text-align: left;
        margin-left: 15%;
    }

    .linkedIn-icon {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .footer-content {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 950px) {
    .footer-holder {
    }
}

@media only screen and (max-width: 700px) {
}

@media only screen and (max-width: 475px) {
    .projects-container {
        height: 150%;
    }
    .footer-holder {
        height: 330%;
    }
}

@media only screen and (max-width: 450px) {
    .footer-holder {
        height: 350%;
    }
}

@media only screen and (max-width: 410px) {
    .footer-holder {
        height: 330%;
    }
    .projects-container {
        height: 120%;
    }
}

@media only screen and (max-width: 375px) {
    .footer-holder {
        height: 330%;
    }
    .projects-container {
        height: 120%;
    }
}