@import url('https://fonts.googleapis.com/css?family=Roboto|Pacifico');

.header-bar {
    display: inline-block;
    width: 100%;
    background-color: rgb(29, 29, 29);
    height: 60px;
    font-family: 'Roboto';
}

.logo {
    color: white;
    font-size: 26px;
    margin-top: 17px;
    margin-left: 10%;
    font-family: 'Pacifico';
}

.links {
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 21px;
    font-size: 22px;
    color: white;
}

.about-link {
    text-decoration: none;
    color: white;
}

.about-link:hover {
    color: rgb(68, 183, 255);
    transition: .4s ease;
    -webkit-transition: .4s ease;
}

.projects-link {
    text-decoration: none;
    color: white;
}

.projects-link:hover {
    color: rgb(68, 183, 255);
    transition: .4s ease;
    -webkit-transition: .4s ease;
}

.links > li {
    display: inline-block;
    transition: .4s ease;
    -webkit-transition: .4s ease;
}

.links > li:hover {
    color: rgb(68, 183, 255);
    transition: .4s ease;
    -webkit-transition: .4s ease;
}

.highlighted {
    color: rgb(68, 183, 255);
    padding-bottom: 17px;
    background: linear-gradient(rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29),rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(29, 29, 29), rgb(68, 183, 255, 0.1), rgb(68, 183, 255, 0.3), rgb(68, 183, 255, 0.5), rgb(68, 183, 255, 0.7), rgb(68, 183, 255));
}

.projects-link {
    margin-left: 40px;
    margin-right: 70px;
}

.header-email {
    font-size: 18px;
    margin-bottom: 20px;
}

.header-email > a {
    text-decoration: none;
    color: rgb(68, 183, 255);
}

.header-email > a:hover {
    color: white;
    transition: .4s ease;
    -webkit-transition: .4s ease;
}

@media only screen and (max-width: 900px) {
    .projects-link{
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 750px) {
    .header-email > a {
        display: none;
    }
    .projects-link {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .projects-link {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .about-link {
        position: absolute;
        right: -20px;
    }
}