.wanderlust-link-1 {
    color: rgb(51, 130, 179);
}

.wanderlust-link-1:hover {
    color: purple;
}

.skatespot-link-1 {
    color: rgb(36, 36, 36);
}

.skatespot-link-1:hover {
    color: rgb(1, 141, 122);
}

.dev-techs-2 {
    display: inline;
}

@media only screen and (max-width: 747px) {
    .dev-techs-2 {
        display: block;
    }
}

@media only screen and (max-width: 540px) {
    .dev-techs-2 {
        display: inline;
    }
}

@media only screen and (max-width: 372px) {
    .dev-techs-2 {
        display: block;
    }
}