.wanderlust-link-1 {
    color: rgb(51, 130, 179);
}

.wanderlust-link-1:hover {
    color: purple;
}

.skatespot-link-1 {
    color: rgb(36, 36, 36);
}

.skatespot-link-1:hover {
    color: rgb(1, 141, 122);
}